

:root {
    --black-color:
     #000;
     --white-color: #fff
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* header */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid var(--black-color);
}

.logo {
    font-size: 1.5rem;
}

.menu ul {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: var(--black-color)
}

.signup {
    color: var(--white-color);
    background-color: var(--black-color);
    padding: 0.8rem;
    border: 1px solid var(--black-color);
    border-radius: 0.5rem;
    transition: 0.3s;
}

.signup:hover {
    background-color: var(--white-color);
    color: var(--black-color);
}

/* home */

main {
    border-bottom: 1px solid var(--black-color);
}

section {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.texto {
    width: 26rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    font-size: 1.3 rem;
}

.texto h1, .texto a {
    margin: 0;
}

.texto p {
    margin: 1.5rem 0;
}

.foto_home {
    width: 35rem;
}

main img {
    width: 100%;
}
